<nav>
    <ul>
        <li><a href="/"> Página principal </a></li>
        <li><a href="/api/currentuser">Usuario</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/carrito"> Carrito </a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</nav>