<nav>
    <ul>
        <li><a href="/"> Página principal </a></li>
        <li><a href="/">Usuario</a></li>
        <li><a href="/cart"> Carrito </a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</nav>