<!DOCTYPE html>
<html>
{{>header}}

    <body>
        <h1>Muchas gracias por tu compra</h1>
        <p>En breve recibirás novedades al respecto</p>
        <p>Haz clic <a href="/" >aquí</a> para volver al menú principal</p>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="/static/scripts.js"></script>
</html>