<!DOCTYPE html>
<html>
{{>header}}
    <title>Chat en línea</title>
    {{>navbar}}
        <h1>Mensajes de todos los usuarios</h1>
        <body>
            <div> 
                <div id="messagePool" ></div>
                <form onsubmit ="addMessage(); return false">
                    <div>
                        <label for="userMessage">Mensaje</label>
                        <input name="userMessage" id="userMessage" type="text">
                    </div>
                    <div>
                        <button type="submit">Enviar Mensaje</button>
                    </div>
                </form>
                <a href='/chat/{{{userEmail}}}'>Ver sólo mis mensajes</a>
            <div>
        </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/scripts.js"></script>
    <script src="/static/loadMessages.js"></script>
</html>