<!DOCTYPE html>
<html>
{{>header}}
    
    <title>Chat en línea</title>
    {{>navbar}}
        <h1>Mensajes particulares</h1>
        <body>
            <div id="messagePool" ></div>
        </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/scripts.js"></script>
    <script src="/static/loadFilteredMessages.js"></script>
</html>