<!DOCTYPE html>
<html>
{{>header}}
    <title>Error</title>
    {{>navbar}}
    <body>
        <h1>Ocurrió un error</h1>
        <p>Detalles: {{error}}</p>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="static/scripts.js"></script>
</html>