<!DOCTYPE html>
<html>
{{>header}}
    <title>Bienvenido!!!</title>
    {{>navbar}}
    <body>
        <h1>Te damos la Bienvenida, {{nombre}}</h1>
        <h2>Esto es lo que tenemos para ofrecerte hoy</h2>
        <div><label for="categoria">Categoría:</label>
            <select name="categoria" id="categoria" onchange="cambiarCategoria(value)">
                <option value="todas">Todas</option>
                <option value="diaria">Ropa de uso diario</option>
                <option value="abrigo">Ropa de abrigo</option>
            </select>
        </div>
        <div id="listadoProductos" ></div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/scripts.js"></script>
    <script src="/static/index.js"></script>
</html>