<!DOCTYPE html>
<html>
{{>header}}

    <body>
        <h1>Bienvenido!!!</h1>
        <p>Ingrese sus datos para iniciar sesión</p>
        <div>
            <form action="/login" method="POST">
                <input name="email" id="email" type="text" placeholder="Correo electrónico">
                <input name="password" id="password" type="password" placeholder="Contraseña">
                <button type="submit">Enviar</button>
            </form>
            <div><p>¿No tienes cuenta? Ingresa <a href="/signup">aqui</a> para registrarte</p></div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="static/scripts.js"></script>
</html>