<!DOCTYPE html>
<html>
{{>header}}
    <body>
        <h1>Hasta Luego {{this.nombre}}!!!</h1>
        <p>Esperamos que vuelva pronto!!!</p>
        <div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="/static/scripts.js"></script>
    <script src="/static/logout.js"></script>
</html>