<!DOCTYPE html>
<html>

{{>header}}
    <body>
        <h1>¿Aún no estás registrado?</h1>
        <p>Completa estos datos para crear tu cuenta</p>
        <div>
            {{!--action="/signup" method="POST"   enctype="multipart/form-data"/   --}}
            <form id="formUsuario" onSubmit="addNewUser(this)">
                <input name="nombre" id="nombre" type="text" placeholder="Nombre" />
                <input name="apellido" id="apellido" type="text" placeholder="Apellido" />
                <input name="telefono" id="telefono" type="tel" placeholder="Teléfono" />
                <input name="email" id="email" type="text" placeholder="Correo electrónico" />
                <input name="password1" id="password1" type="password" placeholder="Contraseña" />
                <input name="password2" id="password2" type="password" placeholder="Repetir contraseña" />
                <label id="pwdError" style="color: red"></label>
                <input type="submit" value="Registrarse" />
            </form>
            <div><p>Si ya tienes cuenta, ingresa <a href="/login">aqui</a></p></div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="static/scripts.js"></script>
</html>